/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 5px 0 5px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 13px;
  font-size: 11px;
}

.carousel-caption2 {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px 0 5px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
    width: 18%;
  }

}

.title{
    font-size:15px;
    color:red;
    margin-left:-20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.line-separator{
    height:1px;
    width:650px;
    background: #A9A9A9;
    margin-bottom:65px;
    margin-left:-30px;
}