<section class="section-white">
  <div class="container">
      <div class=title>
        My Topics
      </div>
  <div class="line-separator"></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <!--<div ngClass="'item active' : image.title==1, 'item' : image.title!==1">-->
        <div *ngFor="let image of images" [ngClass]="{'item active':image.title==1, 'item':image.title!==1}">
          <img src="{{image.n_image}}" alt="...">
          <div class="carousel-caption">
            {{image.n_title}}
          </div>
          <div class="carousel-caption2">
            {{image.ptitle}}
          </div>
        </div>
      </div>
      <!-- Controls -->
    </div>
  </div>
</section>